<!-- Modal for adding products -->
<div class="modal fade" id="add_product" tabindex="-1" aria-labelledby="add_product" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title text-body fs-5">Add Product</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{{ url_for('mods.add') }}" method="POST">
                {{ add_form.hidden_tag() }}
                <div class="modal-body">
                        <div class="form-floating text-body-emphasis mb-3">
                            {{ add_form.product_name(class="form-control", placeholder="Product Name") }}
                            <label for="floatingInput">Product Name</label>
                        </div>
                        <div class="form-floating text-body-emphasis mb-3">
                            {{ add_form.price(class="form-control", placeholder="Price") }}
                            <label for="floatingInput">Price</label>
                        </div>
                        <div class="form-floating text-body-emphasis mb-3">
                            {{ add_form.barcode(class="form-control", placeholder="Barcode") }}
                            <label for="floatingInput">Barcode</label>
                        </div>
                        <div class="form-floating text-body-emphasis mb-3">
                            {{ add_form.quantity(class="form-control", placeholder="Quantity") }}
                            <label for="floatingInput">Quantity</label>
                        </div>                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    {{ add_form.submit(class="btn btn-primary") }}
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal for editing products -->

<!-- Modal for deleting products -->
{% for product in products %}
    <div class="modal fade" id="delete_{{ product.id }}" tabindex="-1" aria-labelledby="delete_product" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content text-body fs-5">
                <div class="modal-header">
                    <h1 class="modal-title" id="exampleModalLabel">Warning</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete the following: <br>
                    {{ product.product }}                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <a href="{{ url_for('mods.delete', id = product.id ) }}" class="btn btn-danger" role="button">Delete</a> 
                </div>
             </div>
        </div>
    </div>
{% endfor %}  